.o64aR,
.oYYFH {
  background-image: url("https://instagram.fknu1-4.fna.fbcdn.net/v/t51.2885-15/e35/50940478_789549134743085_7910269462568689358_n.jpg?_nc_ht=instagram.fknu1-4.fna.fbcdn.net&_nc_cat=105&_nc_ohc=OGcJZhWo254AX8jBNQQ&tn=392E_llhGMAAkGRh&edm=AP_V10EBAAAA&ccb=7-4&oh=9d87b4bc0b57b63b41cb56c0ffa3bc34&oe=610683EE&_nc_sid=4f375e") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}
.zwlfE {
  background-color: rgb(255, 255, 255, 0.8) !important;
  padding-left: 5% !important;
  border-radius: 5% !important;
}
.pC2e0 {
  background-color: black !important;
}
.fx7hk {
  background-color: rgba(7, 7, 7, 0.7) !important;
}
._9VEo1:hover {
  background-color: darkgray;
  border-radius: 5% !important;
  color: black !important;
}
.KL4Bh,
._bz0w,
._9AhH0,
.eLAPa,
.vF75o {
  border-radius: 10% !important;
}
.eXle2,
.h_uhZ,
.gmFkV,
.DMBLbwhat {
  color: white !important;
}
.MWDvN {
  background-color: rgba(255, 255, 255) !important;
}
.XrOey:hover {
  background-color: rgb(130, 130, 130, 0.4) !important;
  border-radius: 100% !important;
}
.VideM {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.ePUX4,
._8UZ6e,
.tHaIX,
._8Rm4L {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.s4Iyt {
  display: none !important;
}
h1,
h2 {
  color: white !important;
}
.fDxYl,
.rhpdm {
  color: black !important;
  font-family: sans-serif !important;
}

.k9GMp :hover {
  transform: scale(1.2) !important;
  color: navy !important;
}
.L3NKy:hover,
._1OSdk:hover {
  background-color: rgb(147, 147, 147, 0.4) !important;
}
.RR-M- {
  border-radius: 100% !important;
  border-width: 5px !important;
}
