body {
  background-color: rgba(204, 227, 75, 0.75) !important;
}
.o64aR,
.oYYFH,
.yUdUG {
  background-image: url("https://scontent.fknu1-2.fna.fbcdn.net/v/t39.30808-6/247981254_4743473185715912_1350375642185439079_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=9267fe&_nc_ohc=L67N8ksPP24AX-j3CKW&_nc_ht=scontent.fknu1-2.fna&oh=00_AT-weSIX0MehWD-cqEWCMjT3rPZ33hFrh2Z6J1y5y3DtOg&oe=621C08A9") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}

.yWX7d,
.yWX7d:visited,
a.yWX7d,
a.yWX7d:visited,
a.O4GlU,
a.c-Yi7,
._0PwGv,
.L3NKy,
a.L3NKy,
a.L3NKy:visited {
  color: black !important;
}

.QOqBd {
  background-color: rgba(0, 0, 0, 0.255) !important;
}

.S-mcP,
._1gNme,
.pC2e0 {
  background-color: transparent !important;
}

.zw3Ow,
.m0NAq.xrWdL {
  backdrop-filter: blur(8px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(8px) saturate(180%) !important;
  background-color: #bffff09a !important;
  border-radius: 12px !important;
  padding: 15px 3px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 9px !important;
}

.-qQT3:hover,
.X3a-9,
._lz6s,
.jIbKX,
.y3zKF:not(.yWX7d),
a.y3zKF:not(.yWX7d),
a.y3zKF:not(.yWX7d):visited,
.qF0y9.Igw0E.IwRSH.YBx95._4EzTm.XfCBB.g6RW6 {
  background: #f0ee82 !important;
}

h2,
.PJXu4,
.W9_iZ,
._08DtY,
._7UhW9.xLCgt.qyrsm.KV-D4.fDxYl.T0kll {
  color: white !important;
}

.N9abW,
.cv3IO,
.UE9AK,
.DPiy6,
.oNO81,
.zGtbP.IPQK5.VideM,
.tHaIX.qF0y9.Igw0E.IwRSH.eGOV_._4EzTm.HVWg4,
._8UZ6e,
._6E_wP,
.qF0y9.Igw0E.rBNOH.eGOV_._4EzTm.L-sTb.HcJZg,
._41KYi,
._1gNme,
._97aPb,
.ijCUd._3eoV-.IjCL9._19dxx {
  backdrop-filter: blur(8px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(8px) saturate(180%) !important;
  background-color: #bffff09a !important;
  border-radius: 12px !important;
}

.pV7Qt,
.S-mcP,
._8Rm4L {
  border-width: 0px !important;
}

.v9tJq.AAaSh.VfzDr {
  margin: 2rem auto;
}
.eo2As {
  padding: 2rem 0rem !important;
}
